* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.container {
  position: relative;
  overflow: hidden;
  background-color: #000000;
  min-height: 100vh;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: center;
}
.logo {
  width: 40px;
  transition: 1s;
}

ul li {
  display: inline-block;
  padding: 10px 10px;
}
ul li:hover {
  background-color: rgb(255, 71, 43);
  border-radius: 50%;
}

ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  transition: 2s;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}
.text {
  width: 40%;
  color: #fff;
}
h2 {
  font-size: 40px;
  text-transform: uppercase;
}
p {
  font-size: 18px;
  margin: 20px 0;
}
.content .text a {
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: 8px 15px;
  border-radius: 20px;
}
.content .text a:hover {
  background-color: rgb(255, 71, 43);
}
.content .image {
  width: 30%;
}
.content .image img {
  width: 180px;
  height: auto;
}
.content .image img:hover {
  transform: scale(1.2);
}

.icons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.icons img {
  width: 40px;
  transition: 1s;
  cursor: pointer;
}
.icons img:hover {
  transform: scale(1.5);
}
